<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box clearfix">
          <div class="table-responsive">
            <h5 style="color: brown; font-weight: bold;">les Fournisseurs :</h5>
 

            <table class="table user-list">
              <thead style="background-color:rgb(247, 237, 224);">
                <tr style="border-color:gainsboro;">
                  <th><span>Id Fournisseur</span></th>
                  <th class="text-center"><span>Code </span></th>
                  <th class="text-center"><span>Libelle </span></th>
                  <th class="text-center"><span>Categorie  </span></th>
                  <th>Actions</th>
                
                </tr>
              </thead>
              <tbody *ngFor="let f of fournisseurList">
                  
                  <td>
                   id Fournisseur
                  </td>
                  <td class="text-center">
                    <span class="label label-default">{{f.code}}</span>
                  </td>
                  <td class="text-center">
                   <span class="label label-default">{{f.libelle}}</span>
                 </td>
                 <td class="text-center">
                   <span class="label label-default">{{f.categorieFournisseur}}</span>
                 </td>
               
                 
                  <td class="btn-group">
                    <button type="button" class="btn btn-outline-danger mx-1" (click)="deleteFournisseur(f.idFournisseur)">Supprimer</button>
                    <button type="button" class="btn btn-outline-primary mx-1" [routerLink]="['UpdateFournisseur',f.idFournisseur]">Modifier</button>
                    <button type="button" class="btn btn-outline-success mx-1">Afficher</button>

                  </td>
                
                    
                  
                
              </tbody>
            </table>
 
 
           
 
 
 
          </div>
        </div>
      </div>
    </div>
  
  </div>
  